backend/ @devsoc/chaos-leads
frontend/ @devsoc/chaos-leads
README.md @devsoc/chaos-leads

.github/ @devsoc/platform
renovate.json @devsoc/platform
CODEOWNERS @devsoc/platform
Dockerfile @devsoc/platform
