[package]
name = "server"
version = "0.1.0"
edition = "2021"


[lib]
name = "backend"
path = "src/lib.rs"

[[bin]]
name = "server"
path = "src/bin.rs"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rocket = { version = "0.5.0-rc.1", features = ["json"] }
rocket_sync_db_pools = { version = "0.1.0-rc.1", features = ["diesel_postgres_pool"] }
# pull rocket_cors from git master until crates.io artifact builds on stable
rocket_cors = { git = "https://github.com/lawliet89/rocket_cors", branch = "master" }
diesel = { version = "1.4.8", features = ["postgres", "r2d2", "chrono"] }
diesel-derive-enum = { version = "1", features = ["postgres"] }
dotenv = "0.15.0"
dotenv_codegen = "0.15.0"
reqwest = { version = "0.11.7", features = ["json"] }
jsonwebtoken = "7.2.0"
serde = {version = "1.0", features = ["derive"] }
serde_json = "1.0.72"
chrono = { version = "0.4", features = ["serde"] }
itertools = "0.10.3"
once_cell = "1.12.0"
