[package]
name = "server"
version = "0.1.0"
edition = "2021"


[lib]
name = "backend"
path = "src/lib.rs"

[[bin]]
name = "server"
path = "src/bin.rs"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rocket = { version = "0.5.0", features = ["json"] }
rocket_sync_db_pools = { version = "0.1.0", features = ["diesel_postgres_pool"] }
# pull rocket_cors from git master until crates.io artifact builds on stable
rocket_cors = { git = "https://github.com/lawliet89/rocket_cors", branch = "master" }
diesel = { version = "1.4.8", features = ["postgres", "r2d2", "chrono"] }
diesel-derive-enum = { version = "1", features = ["postgres"] }
dotenv = "0.15.0"
dotenv_codegen = "0.15.0"
reqwest = { version = "0.11.23", features = ["json"] }
jsonwebtoken = "8.3.0"
serde = {version = "1.0", features = ["derive"] }
serde_json = "1.0.111"
chrono = { version = "0.4", features = ["serde"] }
itertools = "0.10.5"
once_cell = "1.18.0"
diesel_migrations = "1.4.0"
figment = { version = "0.10", features = ["env", "toml", "json"] }
image = "0.24.7"
strum = { version = "0.24", features = ["derive"] }
webp = "0.2"

[dependencies.uuid]
version = "1.3.3"
features = ["v4", "fast-rng", "macro-diagnostics"]
